<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_danutz.css') }}">
</head>
<body>
    <div1><h1>House Price Prediction</h1></div1>
    <div><p>Welcome! This app helps you predict the price of a house based on its features.</p></div>
    <a href="{{ url_for('form') }}" class="button">Start</a>
   <div2 class="image-container">
        <img src="{{ url_for('static', filename='logo_github.png') }}" alt="logo github">
   </div2>
</body>
</html>
